<nav class="vertical_navcontainer">
  <ul class="top_level">
    <li>
      <%= link_to "Accounts", '#' %>
      <ul class="sub_level">
        <li>Accounts submenu item1</li>
        <li>Accounts submenu item2</li>
        <li>Accounts submenu item3</li>
      </ul>
    </li>
    <li>
      <%= link_to "Financials", '#' %>
      <ul class="sub_level">
        <li>Financials submenu item1</li>
        <li>Financials submenu item2</li>
        <li>Financials submenu item3</li>
      </ul>
    </li>
  </ul>
</nav>
