<a>
  <%= image_tag("logo.png", :alt => "#{app_name}", :class => "round", :height => "100%") %>
</a>
<nav>
  <ul>
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Sign out", '#' %></li>
  </ul>
</nav>
